@font-face {
    font-family: 'Qatora';
    src: url(fonts/qatora.otf);
}

body {
    background-image: url(./images/bg-body.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.custom-logo {
    height: 80px;
    width: 80px;
}

.custom-button {
    background: #800b05;
    color: white;
}

.custom-button:hover {
    background: green;
    border: 1px solid white;
    color: white;
}

.active {
    background-color: #800b05;
    border-radius: 5px;
}

.not-active:hover {
    border-bottom: 1px solid #800b05;
}

.custom-hero1 {
    font-size: 3.7em;
    font-family: 'Qatora', sans-serif;
}

.custom-logo-footer {
    height: 50px;
    width: 50px;
}

a {
    text-decoration: none;
}

.custom-global-font {
    font-family: 'Qatora', sans-serif;
    letter-spacing: 2px;
}

.custom-custrev-card .custom-card-up {
    height: 120px;
    overflow: hidden;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  }
.custom-custrev-card .avatar {
    width: 110px;
    margin-top: -60px;
    overflow: hidden;
    border: 3px solid #fff;
    border-radius: 50%;
  }
.zoom:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}